<div class="ps-4 pe-4">
  <div class="row">
    <!-- Users List (75%) -->
    <div class="col-md-8">
      <h2>All Users</h2>
      <div *ngIf="users && users.length > 0; else noUsers">
        <!-- Table to display users -->
        <table class="table table-bordered users-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>User Name</th>
              <th>Location</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.id }}</td>
              <td>{{ user.userName }}</td>
              <td>{{ user.location }}</td>
              <td><button class="btn btn-success" (click)="sendRequest(user.id)">Request User</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noUsers>
        <p class="no-user">No users available.</p>
      </ng-template>
    </div>

    <!-- Accepted Requests (25%) -->
    <div class="col-md-4">
      <h2>Requests Notification</h2>
      <div class="d-flex gap-2 justify-content-around">
        <div>
          <p>{{ notification.notification }}</p>
        </div>
        <div class="d-flex gap-3" *ngIf="notification.notification ">
          <button class="btn btn-success" (click)="AnswerToRequest(notification.gameId, true , notification.opponent,notification.aponanName)">Accept</button>
          <button class="btn btn-danger" (click)="AnswerToRequest(notification.gameId , false, notification.opponent,notification.aponanName)">Reject</button>
        </div>
      </div>
      <div *ngIf="gameStatus?.GameStatus">
        <div>
          <span>{{gameStatus.aponanName}}</span> <span>{{gameStatus.GameStatus}}</span> <span> your game request</span>
        </div>
      </div>
    </div>
  </div>
</div>

