# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs/stepper/FileContentIndex/e77ba627-9c59-4d38-92e5-cda2eed1a52e.vsidx
/.vs/stepper/v17/.wsuo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/stepper/FileContentIndex/8efb7d61-b92b-4c76-ab4c-1e7ec6af23a1.vsidx
/.vs/stepper/FileContentIndex/8277b4ca-7913-46ef-a2b9-4b6b9eb50114.vsidx
/.vs/stepper/FileContentIndex/e6287c29-596a-4e15-884c-e02dc1339b9f.vsidx
/.vs/VSWorkspaceState.json
/.vs/stepper/FileContentIndex/5cc9a8e3-6373-4d28-960b-2f206ddbec8d.vsidx
/.vs/stepper/FileContentIndex/7f39d4ab-0261-48e7-8ee7-a3294ba0dfd8.vsidx
/.vs/stepper/FileContentIndex/6e54ebeb-66cd-4ced-a1ef-4d84960ff74d.vsidx
/.vs/stepper/FileContentIndex/9798919e-226e-423d-b9a3-099606e0884d.vsidx
/.vs/stepper/FileContentIndex/cdbf214a-840b-4095-9d81-ec26ac27d520.vsidx
/.vs/stepper/FileContentIndex/cbde9f79-96da-4713-92bd-cbca2f654d93.vsidx
/.vs/stepper/FileContentIndex
